<h1>Editing phrase</h1>

<% form_for(@phrase) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :phrase %><br />
    <%= f.text_field :phrase %>
  </p>
  <p>
    <%= f.label :definition %><br />
    <%= f.text_field :definition %>
  </p>
  <p>
    <%= f.label :universe_id %><br />
    <%= f.text_field :universe_id %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :titleize %><br />
    <%= f.check_box :titleize %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @phrase %> |
<%= link_to 'Back', phrases_path %>