<h1>Listing phrases</h1>

<table>
  <tr>
    <th>Phrase</th>
    <th>Universe</th>
  </tr>

<% @phrases.each do |phrase| %>
  <tr>
    <td><%=link_to phrase.proper, phrase.address %></td>
    <td><%=link_to phrase.universe.proper, phrase.universe.address %></td>
    <td><%= link_to 'Show', phrase %></td>
    <td><%= link_to 'Edit', edit_phrase_path(phrase) %></td>
    <td><%= link_to 'Destroy', phrase, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New phrase', new_phrase_path %>