<h1>Editing word</h1>

<% form_for(@word) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.label :definition %><br />
    <%= f.text_field :definition %>
  </p>
  <p>
    <%= f.label :universe_id %><br />
    <%= f.text_field :universe_id %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :is_name %><br />
    <%= f.check_box :is_name %>
  </p>
  <p>
    <%= f.label :titleize %><br />
    <%= f.check_box :titleize %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @word %> |
<%= link_to 'Back', words_path %>